
/*************************/
/* stylesheet de timothé */
/*************************/
:root{
    --dark-color: #131212;
    --light-color: #DBE6EC;
    --accent-color: #E3FD41;

    --width-default: 1px;
    --border: solid var(--light-color) var(--width-default);

    --max-width: 1700px;
    --padding-window: 50px;

    --listProject--width: 100%;

    --transi-hover: 300ms;
    --transi-max: 1000ms;

    --size-card: 280px;
}
.modal--open{
    --listProject--width: 50%;
}

/***********/
/* COMMUNS */
/***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
html{
    font-size: 14px;
}
body{
    background-color: var(--dark-color);
    color: var(--light-color);
}
h1, h2, h3, h4, h5, h6, p, a, span, label, div{
    font-family: "Noi", "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

/* Reset input range's default styling */

input[type=range],
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}


/* Header */
.wrapper{
    display: flex;
    width: 100%;
}
#home{
    position: relative;
    width: var(--listProject--width);
    padding: 0 var(--padding-window);
    transition: width var(--transi-max);
    height: 100vh;
    overflow-y: scroll;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 10;
}
.header__wp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    border-bottom: var(--border);
    margin: 0 auto;
    padding: 1.5rem 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo svg{
    margin-right: 10px;
}
.bg__logo{
    fill: var(--light-color);
}
.logo h1{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-variation-settings: "wght" 900, "ital" 0;
}
.setting__icon{
    cursor: pointer;
}
.setting__icon:hover .circle--side{
    transform: translateY(-20%);
}
.setting__icon:hover .circle--center{
    transform: translateY(20%);
}
.rect__setting{
    fill: var(--light-color);
}
.circle__setting{
    fill: var(--light-color);
    stroke: var(--dark-color);
    stroke-width: 2px;
    transition: transform var(--transi-hover) ease;
}

/* FILTER */
.filter {
    position: absolute;
    width: calc(100% - var(--padding-window) * 2);
    padding-top: 2rem;
    transform: translateY(-100%);
    transition: transform 500ms;
}
.filter--open .filter{
    transform: translateY(0);
}
.filter__section + .filter__section{
    padding-top: 1.5rem;
}
.filter__section h2{
    padding-bottom: 1rem;
}
.interface__inner + .interface__inner {
    padding-top: 0.8rem;
}
.interface__inner{
    display: flex;
    align-items: center;
}
.interface__inner h3 {
    min-width: 120px;
}
.filter input[type=range]{
    width: 100%;
    background-color: transparent;
}
.filter input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: var(--light-color);
    border: none;
    border-radius: 5px;
}
/*.filter input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accent-color);
}*/
.filter input[type=range]::-webkit-slider-thumb {
    border: none;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--light-color);
    /*margin-top: -8px;*/
    transform: translateY(calc(-50% + 2px));
}
.filter input[type=range]:focus::-webkit-slider-thumb {
    background: var(--accent-color);
}
.btn--color + .btn--color{
    margin-left: 15px;
}
.btn--color{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.6rem 1.7rem;
    border-radius: 2rem;
    color: var(--dark-color);
    background-color: var(--light-color);
    cursor: pointer;
}
.btn--color.last--btn{
    margin-left: 30px;
}
.btn--color label{
    user-select: none;
    width: fit-content;
}
.filter input[type=color]{
    all: unset;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}
.color--output{
    display: inline-block;
    min-width: 14px;
    height: 14px;
    margin-left: 10px;
    border: 1px solid var(--dark-color);
}
#color-main{
    background-color: var(--light-color);
}
#color-bg{
    background-color: var(--dark-color);
}
#color-accent{
    background-color: var(--accent-color);
}



/* Main - list project */



.list__project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-card), 1fr));
    grid-gap: 20px;
    grid-auto-rows: min-content;
    max-width: var(--max-width);
    margin: 0 auto;
    overflow-y: scroll;
    padding: 3rem 0 6rem 0;
    transition: margin-top 500ms;
}
.project__item{
    position: relative;
    width: 100%;
    height: 350px;
    cursor: pointer;
}
.project__item h1,
.project__item h2,
.project__item h3{
    font-size: 1.3rem;
    font-variation-settings: "wght" 800, "ital" 0;
    text-transform: uppercase;
}
.project__item.light__img{
    color: var(--dark-color);
}
.project__item__heading{
    position: absolute;
    padding: 15px;
    max-width: 80%;
}
.project__item__heading > *{
    display: inline-block;
}

.project__item__img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 50px 0 0;
    background-color: var(--light-color);
    transition: outline var(--transi-hover), outline-offset var(--transi-hover) ;
}
.project__item:hover .project__item__img{
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
}
.project__item__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.new--symbol{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
}
.project__item:hover .new--symbol h4{
    transform: scale(1.1);
}
.project__item:hover .new--symbol svg{
    width: 70px;
    height: 70px;
}
.new--symbol h4{
    font-family: "Varent", Serif, serif;
    font-size: 1.4rem;
    line-height: 1rem;
    font-variation-settings: "wght" 700, "ital" 0;
    position: absolute;
    transform: rotate(6deg);
    transition: transform var(--transi-hover) ease;
}
.new--symbol svg{
    transform-origin: center;
    width: 100%;
    height: 100%;
    animation: anim-star 15s infinite ease;
    transition: all var(--transi-hover) ease;
}
.bg-star{
    fill: var(--accent-color);
}
.stroke-star{
    stroke: var(--dark-color);
    stroke-width: 1px;
}
@keyframes anim-star {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* FOOTER - ABOUT */

footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem var(--padding-window);
    left: 0;
    bottom: 0;
    width: var(--listProject--width);
    background-color: var(--dark-color);
    color: var(--light-color);
    border-top: var(--border);
    min-height: 20px;
    cursor: pointer;
    transition: width var(--transi-max), min-height var(--transi-hover);
}
footer:hover{
    min-height: 100px;
}
.name{
    position: relative;
    font-size: 1.1rem;
    margin: 0 auto;
}
.name::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    background-color: var(--light-color);
}
.reseaux {
    position: absolute;
    right: var(--padding-window);
}
.reseaux > a{
    display: inline-block;
    width: 27px;
    height: auto;
}
.reseaux > a + a{
    margin-left: 7px;
    transition: color 300ms;
}
.reseaux > a:hover{
    --light-color: var(--accent-color);
}
.reseaux svg{
    width: 100%;
    height: auto;
}
.bg__reseaux{
    opacity: 0.3;
    fill: var(--light-color)
}
.reseaux > a:hover .bg__reseaux{
    opacity: 0.6;
}
.stroke__reseaux{
    stroke: var(--dark-color)
}
.color__reseaux{
    fill: var(--dark-color);
}




.modal--open #modal{
    border-left: var(--border);
    padding: 0 var(--padding-window) 1.5rem var(--padding-window);
    opacity: 1;
    transition: padding var(--transi-max), opacity var(--transi-max)  calc(var(--transi-max) / 2);
}

#modal{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    opacity: 0;
}
#modal.switch--project > * {
    animation: switchProject var(--transi-max) ease-in-out;
}
@keyframes switchProject {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    50%{
        transform: translateX(110%);
        opacity: 0;
    }
    50.1%{
        transform: translateX(-110%);
        opacity: 0;

    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.modal__heading{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: 1rem 0;
}
#modal h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-variation-settings: "wght" 700, "ital" 0;
}
.modal__close{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.modal__close::before, .modal__close::after{
    position: absolute;
    content: '';
    width: 100%;
    top: 50%;
    left: 0;
    height: 4px;
    background-color: var(--light-color);
}
.modal__close::before {
    transform: rotate(45deg);
}
.modal__close::after {
    transform: rotate(-45deg);
}
.modal__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.tag__item{
    display: inline-block;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.7rem 1.4rem;
    border-radius: 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.tag__item +.tag__item {
    margin-left: 10px;
}

.modal__description{
    font-size: 1.5rem;
}
.img__project{
    margin: 40px 0;
}
.img__project, .img__project img{
    width: 100%;
}